@if (formControlName()) {
  <ng-container [formGroup]="formGroup()">
    <p-password
      [readonly]="readonly()"
      [formControlName]="formControlName()"
      pTextarea
      [feedback]="feedback()"
      [inputStyle]="{ width: '100%' }"
      [style]="{ width: '100%' }"
      [autocomplete]="autocomplete()"
      [name]="name()"
    ></p-password>
  </ng-container>
} @else {
  <p-password
    [(ngModel)]="ngModel"
    [readonly]="readonly()"
    [feedback]="feedback()"
    [disabled]="disabled()"
    [inputStyle]="{ width: '100%' }"
    [style]="{ width: '100%' }"
    [autocomplete]="autocomplete()"
    [name]="name()"
  />
}
