@if (formControlName()) {
  <ng-container [formGroup]="formGroup()">
    <p-inputnumber
      [class]="className()"
      [inputStyle]="inputStyle()"
      [size]="size()"
      [placeholder]="placeholder()"
      [readonly]="readonly()"
      [maxlength]="maxlength()"
      [formControlName]="formControlName()"
      [min]="min()"
      [max]="max()"
      [mode]="mode()"
      [currency]="currency()"
      [currencyDisplay]="currencyDisplay()"
      [showButtons]="showButtons()"
      [buttonLayout]="buttonLayout()"
      [step]="step()"
    >
      <ng-template #incrementbuttonicon>
        <span class="pi pi-chevron-up"></span>
      </ng-template>
      <ng-template #decrementbuttonicon>
        <span class="pi pi-chevron-down"></span>
      </ng-template>
    </p-inputnumber>
  </ng-container>
} @else {
  <p-inputnumber
    [class]="className()"
    [inputStyle]="inputStyle()"
    [size]="size()"
    [disabled]="disabled()"
    [placeholder]="placeholder()"
    [maxlength]="maxlength()"
    [(ngModel)]="ngModel"
    [min]="min()"
    [max]="max()"
    [mode]="mode()"
    [currency]="currency()"
    [currencyDisplay]="currencyDisplay()"
    [showButtons]="showButtons()"
    [buttonLayout]="buttonLayout()"
    [step]="step()"
  >
    <ng-template #incrementbuttonicon>
      <span class="pi pi-chevron-up"></span>
    </ng-template>
    <ng-template #decrementbuttonicon>
      <span class="pi pi-chevron-down"></span>
    </ng-template>
  </p-inputnumber>
}
