<p-button
  [iconPos]="iconPos()"
  [icon]="icon()"
  [label]="label()"
  [disabled]="disabled()"
  [loading]="loading()"
  [loadingIcon]="loadingIcon()"
  [raised]="raised()"
  [rounded]="rounded()"
  [text]="text()"
  [severity]="severity()"
  [outlined]="outlined()"
  [link]="link()"
  [size]="size()"
  [variant]="variant()"
  [style]="style()"
  [styleClass]="styleClass()"
  [class]="className()"
  [badge]="badge()"
  [badgeSeverity]="badgeSeverity()"
  [ariaLabel]="ariaLabel()"
  [autofocus]="autofocus()"
  [fluid]="fluid()"
  [buttonProps]="buttonProps()"
  (onClick)="onClick.emit($event)"
  (onFocus)="onFocus.emit($event)"
  (onBlur)="onBlur.emit($event)"
>
  <ng-content></ng-content>
</p-button>
